<% if current_user&.admin? %>
  <menu id="admin_menu"
        class="">

    <li>
      <%= link_to t('.users'),
        users_path,
        class: %Q[] %>
    </li>

    <li>
      <%= link_to t('.new_user'),
        new_user_path,
        class: %Q[] %>
    </li>

  </menu>
<% end %> 
