<%# FIXME: Use i18n labels instead of text %> 
<div class="container mx-auto justify-center">
  <table>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to('edit', edit_user_path(user)) %></td>
      </tr>
    <% end %>
  </table>
</div>
